html
   head
      title = "This is a form"
   body
    
    h1 Search for a movie
    form(action ='/film', method='POST')
      label(for="title") Search for a movie:
      input(type="text" name="title")
      input(type="submit" id="submitBtn")

    
    
  
