html
   head
      title = "This is a form"
   body
    
    h1 Search for a movie
    form(action="")
      label(for="movie") write your movie-name here:
      input#(type="text", name="movie")
      input(type="submit", value="Go",) 

    
    
  
