html
   head
      title = "This is a form"
   body
    
    h1 Search for a movie
    form(action ='/film', method='GET')
      label(for="title") Serach for a movie:
      input(type="text" name="title")
      input(type="submit")

    
    
  
